.treckmap{
  position: fixed;
  height: 100%;
  width: 100%;
  .angular-google-map-container {
    height: 70vh;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 10px;
    left: 10px;
  }
}