<div class="treckmap">
    <ui-gmap-google-map center='repo.map.center' zoom='repo.map.zoom' dragabble="true">
        <ui-gmap-marker ng-if="repo.me" coords="repo.me.coords" options="repo.me.options" idkey="repo.me.key" click="repo.clickMarker(repo.me)">
            <ui-gmap-window options="repo.me.windowOptions" closeClick="repo.closeClick(repo.me)">
                <div>
                    Você está aqui.
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
        <ui-gmap-marker ng-repeat="track in repo.tracks" options="track.options" click="repo.clickMarker(track)" coords="track.coords" idkey="track.id">
            <ui-gmap-window options="track.windowOptions" closeClick="repo.closeClick(track)"
                  templateUrl="repo.trackWindowUrl()"
                  templateParameter="track">
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>