<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <form>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="username" required autofocus ng-model="m.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="m.password">
    <button class="btn btn-lg btn-primary btn-block" ng-click="m.login()">Sign in</button>
    </form>
    <span ng-show="m.loading">loading...</span>
  </div>
</div>
